.wrap {
  padding: 20px 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: opacity 0.3s ease-in-out;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  transition: top ease 0.1s;
}
.container {
  padding: 0 12px;
  font-size: 1.7rem;
  margin-left: auto;
  margin-right: auto;
}
.middle {
  padding: 8px 0;
  .content {
    padding: 0 12px;
    .content-title {
      white-space: nowrap;
      padding: 10px 8px;
      font-size: 1.7rem;
      font-weight: 500;
      .menu-list {
        border-top: 2px solid var(--primary);
        transition: 0.3s;
        border-radius: 5px;
      }
    }
    .active {
      color: var(--primary);
    }
  }
}
.right {
  position: relative;
  img {
    object-fit: cover;
  }
  .right-count {
    position: absolute;
    right: -4px;
    top: 10px;
    background-color: #ff630e;
    color: #fff;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 13px;
    width: fit-content;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }
}
.bars {
  display: none;
}

@media only screen and (max-width: 767px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4px;
  }
}
@media screen and (max-width: 992px) {
  .right,
  .middle {
    display: none;
  }
  .bars {
    display: block;
    cursor: pointer;
  }
}
@media screen and (max-width: 992px) {
  .wrap {
    padding: 0 !important;
    transition: opacity 0.3s ease-in-out;
    opacity: 1 !important;
    z-index: 20 !important;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}
