.swiper {
  position: relative;
  overflow: visible;
  .action-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -24px;
    z-index: 18;
    svg {
      color: #909294;
      font-weight: 400;
    }
    &:hover {
      svg {
        color: var(--primary);
        cursor: pointer;
      }
    }
    .icon {
      font-size: 6rem;
    }
  }
  .action-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -24px;
    z-index: 18;
    svg {
      color: #909294;
      font-weight: 400;
    }
    &:hover {
      svg {
        color: var(--primary);
        cursor: pointer;
      }
    }
    .icon {
      font-size: 6rem;
    }
  }
}
@media only screen and (max-width: 767px) {
  .action-left,
  .action-right {
    display: none !important;
  }
}
