.wrap {
  background-color: var(--s-primary);
  color: #fff;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 30px;
  .container {
    max-width: 1320px;
    padding: 0 12px;
    margin: 0 auto;
    .col {
      margin-bottom: 16px;
      .content_logo {
        padding-right: 40px;
        .logo {
          width: 200px;
          height: 75px;
          img {
            width: 200px;
            height: 75px;
            object-fit: cover;
          }
        }
        .description {
          font-weight: 400;
          margin-top: 10px;
          line-height: 1.42857143;
          font-size: 14px;
          text-align: justify;
        }
        .description_bottom {
          margin: 0;
          margin-top: 25px;
          margin-bottom: 10px;
          font-size: 1.6rem;
          line-height: 26px;
          font-weight: 700;
        }
        .left_brand-list {
          a {
            color: #fff !important;
            display: block;
            font-weight: 400;
          }
          .left_icon-brand {
            cursor: pointer;
            margin-right: 15px;
          }
        }
      }
      .content {
        .list {
          font-size: 1.6rem;
          li {
            padding-bottom: 15px;
          }
          a {
            color: #fff !important;
            display: block;
            font-weight: 400;
          }
        }
      }
    }
  }
}
.title {
  color: var(--primary);
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  ~ .title {
    margin-top: 20px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}
@media only screen and (max-width: 767px) {
}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1320px !important;
  }
}
