.wrap {
  width: 100%;
  padding: 110px 0 100px;
  background-image: url("https://bsmart.edu.vn/assets/images/banner/banner-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 15, 64, 0.8);
  }
  .banner_content {
    position: relative;
    z-index: 15;
    h1 {
      margin: 0;
      text-align: center;
      color: var(--primary);
      font-size: 49px;
      font-weight: 700;
      margin-bottom: 25px;
    }
    .breadcrumb {
      color: #fff !important;
      display: flex;
      justify-content: center;
      font-size: 1.6rem;
    }
  }
}
