.container {
  width: 100vw;
  height: 100vh;
  background: #0e0a38;
  position: relative;
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .icon {
      width: 90px;
      height: 90px;
      color: #fff;
      animation: Rotate 0.6s ease-in infinite;
    }
  }
}
@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
