.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    transition: 0.5s;
    border-radius: 10px;
    width: 90%;
    border: 1px solid #999;
    margin-top: 10px;
    .avatar-mentor {
      object-fit: fill;
      height: 200px;
    }
    .banner {
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 200px;
      position: relative;
      border-bottom: 1px solid #999;
      .avatar {
        position: absolute;
        z-index: 18;
        width: 80px;
        height: 80px;
        border: 2px solid #999;
        padding: 2px;
        background-color: #fff;
        bottom: -20%;
        left: 20px;
        border-radius: 5px;
        .avatar_content {
          width: 73px;
          height: 73px;
          border-radius: 10px;
        }
      }
    }
    .body {
      background-color: transparent;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      .title {
        text-align: left;
        h5 {
          display: flex;
          align-items: center;
          margin-top: 5px;
          margin-bottom: 8px;
          line-height: 27.5px;
          min-height: 55px;
          max-height: 55px;
          color: #130f40;
          font-size: 24px;
          font-weight: 700;
        }
      }
      .image_bug {
        height: 50px;
        width: 50px;
        position: absolute;
        right: 0;
        top: 0;
        .img {
          object-fit: cover;
        }
      }
      .mentor {
        display: flex;
        justify-content: left;
        text-align: left;
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 10px;
        color: #999;
        span {
          margin-left: 5px;
          color: var(--primary);
        }
      }
      .description {
        margin-top: 10px;
        font-weight: 400;
        text-align: left;
        line-height: 25px;
        font-size: 1.6rem;
        color: #212529;

        p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          margin: 0;
          height: 75px;
        }
      }
      .mentor-description {
        text-align: left;
        margin: 10px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        font-size: 16px;
        font-weight: 400;
        height: 120px;
        color: #212529;
      }
      .feedback {
        .price {
          font-weight: bold;
          color: firebrick;
          font-size: 18px;
          margin-right: 6px;
          white-space: nowrap;
        }
        .session {
          span {
            font-style: italic;
            font-size: 1.6rem;
            color: #212529;
            padding: 3px;
            padding-left: 8px;
          }
        }
      }
    }
  }
}
.btn {
  margin-top: 8px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 16px;
  &:hover {
    background-color: var(--primary);
    color: #fff;
  }
}
.divider {
  padding: 16px;
  margin-bottom: 26px;
  &:hover {
    background-color: #fff;
    color: var(--primary);
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1470px) {
  .avatar-mentor {
    height: 300px !important;
  }
}
