@import "/node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

html {
  font-size: 62.5%;
}
:root {
  --primary: #ff630e;
  --s-primary: #0e0a38;
  --sliderperview: 2;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  text-rendering: optimizespeed;
  contain: paint;
  background-color: #fff;
  margin: 0;
  .ant-dropdown-menu-item {
    &:hover {
      background-color: #fff !important;
      color: #ff630e !important;
    }
    font-size: 17px !important;
    color: #0e0a38 !important;
    font-weight: 500 !important;
    border-bottom: 1px solid #f5f5f5 !important;
  }
  .ant-card-head {
    border: none !important;
  }
  .ant-breadcrumb-link {
    color: #fff;
  }
  .ant-breadcrumb-separator {
    color: #fff !important;
  }
  .ant-pagination-item-active {
    background: var(--primary) !important;
    color: #fff !important;
  }
  .swiper-pagination-bullet-active {
    background: #869791 !important;
  }
}

* {
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
