@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary: #fe2c55;
}

html {
  font-size: 62.5%;
}
:root {
  --primary: #ff630e;
  --s-primary: #0e0a38;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  text-rendering: optimizespeed;
  margin: 0;
}
* {
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
